.formControl {

}

.formControl.error input,
.formControl.error textarea{
    border: 2px solid red;
}
.formControl.error span{
    color: maroon;
}
.someoneError span {
    color: maroon;
    border: 2px solid red;
}