@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


.body {
    font-family: 'Muli', sans-serif;
    overflow: hidden;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.container {
    display: flex;
    width: 100%;
    padding: 0 20px;

}
.slide {
    flex: 1;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5px;
    border-radius: 10px;
    background-position: center;
    color: white;
    position: relative;
    cursor: pointer;
    transition: all 500ms ease-in-out
}

.slide.active {
    flex: 10;
}
.slide:hover {
    transform: scale(1.1);
    z-index: 2;
}

.slide.active:hover {
    transform: none;
}

.slide h3 {
    position: absolute;
    bottom: 20px;
    margin: 0;
    left: 30px;
    opacity: 0;
    color: white;
}
.slide.active h3 {
    opacity: 1;
    transition: opacity 300ms ease-in 400ms;
}