.Friend{
    margin: 2px;
}
.ActiveFriend {
    cursor: pointer;
    margin: 2px;
    background-color: lightblue;
}
a{
    color: black;
}
.FriendInfo{
    color: black;
    border-radius: 5px;
}

.FriendInfo img{
    width: 40px;
    height: 40px;
    border-radius: 6px;
}