.MiniAppsBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Title {
    font-size: 200%;
}
ul{
    list-style: none;
}

.AppsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.App {
    background-color: gray;
    cursor: pointer;
    width: 250px;
    height: 180px;
    margin: 20px;
    transition: all 500ms ease-in-out;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.App:hover {
    transform: scale(1.1);
    z-index: 2;
    border-radius: 10px;
}