.img1{
    width: 300px;
    height: 300px;
    border-radius: 190px;
}
.DescriptionBlock {
    padding: 10px;
    text-align: center;
    position: relative;
    bottom: 100px;
}
.DescriptionCard{

}
.DescriptionCard p{
    text-align: left;
}
.contacts{
    padding: 5px;
    background-color: lightblue;
    border-radius: 3px;
}
.inputButton{
    margin: 3px;
}

.avatar{
    width: 250px;
    height: 250px;
}
.avatar-uploader > .ant-upload {
    width: 250px;
    height: 250px;
}
.statusBlock{
    text-align: center;
    font-size: 200%;
    position: relative;
    bottom: 160px;
}
.AvatarBlock{
    text-align: center;
    position: relative;
    bottom: 160px;
}
.ProfileHeader{
    font-size: 250%;
    text-align: center;
    background:url("./../../../accepts/images/i.jpg");
    height: 200px;

}


