.img1{
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 10px 10px 0 0;
}
.DescriptionBlock {
    padding: 10px;
}
.contacts{
    padding: 5px;
    background-color: lightblue;
    border-radius: 3px;
}
.inputButton{
    margin: 3px;
}

.avatar{
    width: 250px;
    height: 250px;
}
.avatar-uploader > .ant-upload {
    width: 250px;
    height: 250px;
}
.statusBlock{
    margin: 4px;
}

