body {
}
.app-wrapper {
  display: grid;
  margin: 0 auto;
  width: 1150px;
  grid-template-areas:
          "h h"
          "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 160px 1fr;
  grid-gap: 10px;
}
.app-wrapper-content {
  grid-area: c;
  background-color: aliceblue;
  border-radius: 10px;
}
.globalError{
  border-radius: 4px;
  border: maroon solid 3px;
  color: maroon;
}
.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}




