.Dialogs {
    display: grid;
    grid-template-columns: 170px 5fr 2fr;
    grid-template-rows: 425px 60px;
    grid-column-gap: 10px;
    grid-template-areas:
    'dialog message friendBar'
    'dialog input friendBar';
}
.HiddenDialogs {
    display: grid;
    grid-template-columns: 170px 5fr 2fr;
    grid-template-rows: 425px 50px;
    grid-column-gap: 10px;
    grid-template-areas:
    'message message friendBar'
    'input input friendBar';
}
.HideButton {
    margin-top: 40px;
}

.FriendBar {
    grid-area: friendBar;
    border: #aeb8c2 solid 1px;
    border-radius: 3px;
}
.DialogsItem{
    padding: 10px;
    background-color: azure;
    border-radius: 10px;
    grid-area: dialog;
    overflow-y: scroll;
}
.Dialog {
    border-bottom: 2px solid lightskyblue;
    background-color: lightblue;
    border-right: 2px solid lightskyblue;
    border-left: 2px solid lightskyblue;
    margin-top: 5px;
    font-family: cursive;
}
.DialogActive{
    border-bottom: 2px solid blue;
    background-color: lavender;
    border-right: 2px solid blue;
    border-left: 2px solid blue;
    margin-top: 5px;
    font-family: cursive;
    border-radius: 10px;
}
.DialogImg {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.Messages {
    background-color: aliceblue;
    grid-area: message;
    overflow-y: scroll;
}


.Dialog a {
    text-decoration: none;
    color: black;
}

.Dialog a:visited {
    color: black;
}

.Dialog a:hover {
    color: lightcyan;
    text-decoration: underline;
}

.Dialog a.active {
    color: lightcyan;
}

.NewMessage {
    grid-area: input;
    background-color: aliceblue;
    padding: 10px;
}
.EnterMessage{
    border-radius: 4px;
}
